.employee-profile {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 100vh;
  width: 100vw;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-image {
  width: 128px;
  height: 128px;
  border-radius: 50%;
  margin-right: 20px;
}

.info {
  flex-grow: 1;
}

.status {
  background-color: green;
  color: white;
  padding: 2px 8px;
  border-radius: 5px;
  margin-left: 10px;
}

.social-icons {
  margin-top: 10px;
}

.social-icons svg {
  margin: 0 5px;
  cursor: pointer;
}

.details {
  margin-top: 20px;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  margin-bottom: 10px;
}

.save-btn,
.cancel-btn {
  margin-top: 10px;
  padding: 5px 15px;
  cursor: pointer;
}

.save-btn {
  background-color: #A767E7;
  color: white;
  border: none;
  border-radius: 5px;
}

.cancel-btn {
  margin-left: 10px;
  background-color: grey;
  color: white;
  border: none;
  border-radius: 5px;
}

.emptyCard {
  height: 180px;
  display: flex;
  width: 300px;
  position: absolute;
  margin-left: 635px;
}

#standard-basic {
  padding: 2px;
  padding-top: 5px;
  width: 120px;
  height: auto;
}

#standard-basic1 {
  padding: 2px;
  padding-top: 5px;
  width: 150px;
  height: auto;
}

.emptyCard {
  padding-bottom: 40px;
  width: 63vh;
  height: 28vh;
}

.personal-detail {
  margin: 12px;
  height: auto;
  width: auto;
}