select-member-container {
  background-color: #f3e9fe;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-bar {
  background-color: white;
  border-radius: 4px;
}

.scroll-container {
  height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  padding-right: 10px; /* Ensure the padding for scrollbar */
}

.member-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.member-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-card.selected {
  border: 2px solid #4caf50;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained {
  background-color: #3f51b5;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: background-color 0.3s;
  margin-top: 50px;
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained:hover {
  background-color: #303f9f;
}

/* SelectMember.css */
.select-member-container {
padding: 20px;
background-color: #EFE6F8;
}

.header {
color: rgb(17, 17, 167);
}

.search-bar {
/* width: 50%; */

}

.scroll-container {
max-height: 400px;
overflow-y: auto;
}

.member-card.selected {
border: 3px solid #3f51b5;
} 